@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply text-sky-900 font-bold;
    }

    .header {
        @apply text-2xl font-bold px-2;
    }
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
